API_BASE_URL = https:/$()/cancelit.app
SUPABASE_URL = https:/$()/qgxaibiijuvgammnvbwr.supabase.co
SUPABASE_PUBLISHABLE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFneGFpYmlpanV2Z2FtbW52YndyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MTczNDEsImV4cCI6MjA5Nzk5MzM0MX0.YtbT0Q7UayIq1VU3sLWoCjkyInXO71uDbGFOE4WKQ1w
REVENUECAT_API_KEY = YOUR_REVENUECAT_PUBLIC_IOS_SDK_KEY
